h1 {
  text-align: center;
  font-size: 18pt;
}

p {
  text-align: left;
  font-size: 12pt;
}

main {
  text-align: center;
}

a:link:not(.btn), a:visited:not(.btn) {
  color: #ee6e73;;
}

a:hover:not(.btn), a:active:not(.btn) {
  color: rgb(255 102 110);
  text-decoration: underline;
}

#ln_content {
  display: none;
}

.header {
  color: #ee6e73;
}

.col-div-3 {
  width: 33.3333333333% !important;
}

.col-div-2 {
  width: 50% !important;
}

.ln_info, .ln_form, .ln_copyrights {
  width: 100%;
}

.ln_info > i {
  margin: 40px 0;
  color: #ee6e73;
  font-size: 7rem;
  display: block;
}

.ln_form > span, .ln_copyrights > span{
  margin: 40px auto;
  background-color: #ee6e73;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding-top: 0.2em;
}

.ln_info-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.d-none {
  display: none;
}

.border-red {
  border-radius: 10px;
  border: 1px solid #ee6e73;
}

/* Responsive */
@media only screen and (max-width: 1015px) {
  .col-div-3, .col-div-2 {
    width: 100% !important;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.code {
  padding: 1em !important;
  margin: 2em 0 !important;
  text-align: left;
}

.code-tag {
  color: #ee6e73;
}

.code-attribute {
  color: #26a69a;
}

.code-input {
  height: 1.5em !important;
  border-radius: 5px !important;
  min-width: 4px !important;
  max-width: 250px !important;
}

#dummy_span {
  font-size: 16px;
  /* transparent */
  color: rgba(0, 0, 0, 0);
}
